main {
    margin-top: 75px;
}

main ul {
    list-style-type: circle;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 15px;
}

main section {
    min-height: 70vh;
}

main h3 {
    font-size: 25px;
}
main p {
    font-size: 20px;
}

.seccion1 {
    min-height: 50vh;
    color: var(--Claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../img//d9cf7b761167633b2ba747.webp);
    background-size: cover;
    padding: 40px 20px;
}

.quienesSomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 30px;
    min-height: 500px;
    gap: 20px;
}

.columnas {
    display: flex;
    justify-content: center;
    padding: 60px;
    background-color: var(--Color1);
    height: auto;
    gap: 20px;
}

.columnas div {
    display: flex;
    flex-direction: column;
    border: 5px solid var(--Color1);
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
    width: 100%;
    gap: 20px;
}

.columnas ol {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 10px;
}

.columnas p {
    font-size: 18px;
}

.elegir {
    display: flex;
    align-items: center;
    min-height: 500px;
}

.elegir article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.elegir div {
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 20px;
}

.elegir aside {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.elegir img {
    height: 340px;
}

@media (max-width: 768px) {
  .elegir aside img {
    width: 100%;
    height: auto;
  }

  .columnas {
    flex-direction: column;
    padding: 30px 20px;
    gap: 30px;
  }

  .elegir {
    flex-direction: column;
    align-items: center;
    padding: 30px 25px;
    gap: 40px;
  }

  .elegir div {
    width: 100%;
  }

}