/* Primera sección */
#welcome {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100vh;
    overflow: hidden;
    gap: 20px;
}

#welcome h1 {
    font-size: 45px;
    text-align: center;
    margin: 0;
    width: 570px;
    z-index: 1;
}

#welcome span {
    position: relative;
    padding: 0 5px;
}

#welcome .box {
    position: absolute;
    top: 0;
    left: -8px;
    right: -8px;
    bottom: 0;
    background-color: var(--Color1);
    z-index: -1;
    clip-path: polygon(
        10px 0%,
        100% 0%,
        calc(100% - 10px) 100%,
        0% 100%
    );
}

#welcome a {
    display: flex;
    align-items: center;
    background-color: var(--Color2);
    border-radius: 8px;
    font-weight: bold;
    padding: 8px 16px;
    gap: 10px;
}

#welcome a:hover {
    filter: brightness(0.8);
}

#welcome .bg {
    position: absolute;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
    z-index: -1;
}

/* Sección de empresas */
#businesses {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
}

#businesses h1 {
    font-size: 28px;
}

#businesses a {
    color: var(--Color1);
    text-decoration: 3px solid underline;
    text-underline-offset: 4px;
}

#businesses .logos{
    display: flex;
    justify-content: center;
    gap: 40px;
}

/* Sección de cursos */
#courses {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 25px;
}

/* Barra de búsqueda */
.searchBar {
    display: flex;
    width: 100%;
}

.searchBar input[type="text"] {
    border: 3px solid var(--Color1);
    border-right: none;
    border-radius: 50px 0 0 50px;
    padding: 12px 20px;
    width: 100%;
    max-width: 350px;
    font-size: 15px;
}

.searchBar button {
    background-color: var(--Color1);
    border: 3px solid var(--Color1);
    border-left: none;
    border-radius: 0 50px 50px 0;
    color: #fff;
    height: 100%;
    padding: 15px 20px 15px 20px;
    cursor: pointer;
}

.searchBar input[type="text"]:focus, .searchBar input[type="text"]:focus + button {
    outline: 2px solid var(--Color1);
}

/* Categorías */
.categories {
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
    padding: 5px 0;
    gap: 20px;
}

.categories input[type="radio"] {
    display: none;
}

.categories p {
    display: flex;
    border: 3px solid var(--Color1);
    border-radius: 20px;
    color: var(--Color1);
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
}

.categories input[type="radio"]:checked + p {
    background-color: var(--Color2);
    border-color: var(--Color2);
    color: #000;
}

/* Lista de cursos */
.coursesList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 60px;
}

.coursesList .item {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    padding: 12px;
    min-width: 275px;
    width: 275px;
    overflow: hidden;
    gap: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.coursesList .item .imgContainer {
    border-radius: 10px;
    height: 140px;
    width: 100%;
    overflow: hidden;
}

.coursesList .item .imgContainer img {
    width: 100%;
}

.coursesList .item .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.coursesList .item .content {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.coursesList .item .content p {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita a 2 líneas */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}

.category {
    position: absolute;
    right: 0;
    border-radius: 5px;
    padding: 5px 8px;
}

.category1 {
    background-color: rgb(173, 229, 173);
}

.category2 {
    background-color: rgb(153, 227, 255);
}

.category3 {
    background-color: rgb(219, 179, 229);
}

.category4 {
    background-color: rgb(255, 191, 173);
}

.category5 {
    background-color: rgb(239, 213, 153);
}

.item button {
    background-color: var(--Color2);
    border: none;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}


/* Efectos hover */
.coursesList .item:hover {
    transform: translateY(-10px);
}

.item button:hover {
    filter: brightness(0.8);
}

.item button:active {
    filter: brightness(1);
}

/* CTA */
#cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 40px;
}

#cta .container {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

#cta .container .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    overflow: hidden;
}

#cta .imageContainer img {
    width: 110%;
}

#cta .content {
    display: flex;
    justify-content: space-between;
    padding: 35px;
    gap: 10px;
}

#cta article {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    gap: 15px;
}

#cta article h1 {
    font-size: 28px;
}

#cta article p {
    font-size: 18px;
}

@media (max-width: 1000px) {
    /* Main */
    #welcome h1 {
        font-size: 30px;
        width: 90%;
    }
    #businesses {
        padding: 40px 20px;
        gap: 40px;
    }
    #businesses h1 {
        font-size: 22px;
    }
    #businesses .logos {
        overflow-x: scroll;
        justify-content: flex-start;
        padding: 5px 20px;
    }
    #courses {
        padding: 18px;
    }
    .coursesList {
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding: 12px 0;
        gap: 20px;
    }
    .coursesList .item:hover {
        transform: none;
    }
    #cta {
        padding: 40px 25px;
    }
    #cta .imageContainer img {
        height: 140%;
        object-fit: cover;
    }
    #cta .content {
        flex-direction: column;
        padding: 30px;
        gap: 20px;
    }
    #cta article {
        gap: 15px;
    }
    #cta article p {
        font-size: 16px;
    }
    #cta aside {
        display: none;
    }

}