* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'inter';
}

@font-face {
    font-family: 'inter';
    src: url(src/fonts/Inter_28pt-Regular.ttf);
}

:root {
    --Color1: #3454d1;
    --Color2: #c0ff00;
    --Claro: #f5f3f5;
    --Oscuro: #23201E;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

body {
    background-color: var(--Claro);
    min-height: 100vh;
}

*::selection {
    background-color: var(--Color2);
    color: var(--Oscuro);
}

a {
    text-decoration: none;
    color: #000;
}

/* Navegador */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: var(--Claro);
    gap: 20px;
    z-index: 999;
}

header .titles {
    display: flex;
    gap: 10px;
}

.menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 4px;
    cursor: pointer;
}

.menu span {
    border: 2px solid black;
    border-radius: 2px;
    width: 24px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

header a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-weight: 600;
    gap: 3px;
}

header nav a span {
    height: 3px;
    border-radius: 4px;
    background-color: var(--Color1);
    width: 0;
    transition: 0.3s;
}

header nav a:hover {
    color: var(--Color1);
}

header a:hover span {
    width: 100%;
}

header nav .cart {
    position: relative;
}

header nav .cart img, nav .cart span {
    cursor: pointer;
}

header nav .cart span {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Color1);
    color: white;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    font-size: 12px;
    user-select: none;
}

header nav .cart_list {
    position: absolute;
    top: 60px;
    right: -110px;
    display: none;
    flex-direction: column;
    background-color: #e8e8e8;
    border-radius: 10px;
    width: 250px;
    gap: 20px;
    overflow: hidden;
}

header nav .cart input:checked ~ .cart_list {
    display: flex;
}

header nav .cart_list h4 {
    background-color: #fff;
    padding: 10px 15px;
}

header nav .user_cart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

header nav .user_cart p {
    font-size: 15px;
    font-weight: normal;
    color: var(--Oscuro);
}

header nav .cart_list_bottom {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 8px;
    gap: 8px;
}

header nav .cart_list .total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav .cart_list_bottom button {
    background-color: var(--Color2);
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
    cursor: pointer;
}

header nav .cart_list_bottom button:hover {
    filter: brightness(0.8);
}

header nav .cart_list_bottom button:active {
    filter: opacity(0.8);
}

header .loginButton {
    background-color: var(--Color1);
    padding: 11px 18px;
    font-size: 15px;
    border-radius: 8px;
    color: #fff;
}

header .loginButton:hover {
    filter: brightness(0.8);
    color: #fff;
}

nav.active {
    display: flex;
    flex-direction: column;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--Color1);
    color: #fff;
    padding: 30px 50px;
    gap: 25px;
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

footer section {
    display: flex;
    gap: 20px;
}

footer nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    gap: 3px;
}

footer hr {
    border: 2px solid #fff;
    border-radius: 2px;
    width: 100%;
}

footer a {
    color: #fff;
}

footer a:hover {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3px;
}

footer img {
    cursor: pointer;
}

.footerEnd {
    text-align: center;
}

@media (max-width: 1000px) {
    /* Header */
    header {
        flex-direction: column;
        padding: 20px;
    }
    header .menu {
        display: flex;
    }
    header nav {
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }
    header .cart {
        display: none;
    }

    /* Footer */
    footer {
        padding: 20px;
    }
    footer div {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    footer div section {
        flex-direction: column;
        align-items: flex-start;
    }
    footer hr {
        width: 90%;
    }
}